<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">


<welcome-file-list>
<welcome-file>/inicioVisual.jsp</welcome-file>
</welcome-file-list>


<display-name>UML-DC</display-name>



<servlet>
<servlet-name>ControladorVerVersiones</servlet-name>
<servlet-class>controladores.ControladorVerVersiones</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ControladorVerVersiones</servlet-name>
<url-pattern>/ControladorVerVersiones</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ControladorEnviarMailImagen</servlet-name>
<servlet-class>controladores.ControladorEnviarMailImagen</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ControladorEnviarMailImagen</servlet-name>
<url-pattern>/ControladorEnviarMailImagen</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ControladorCrearDiagrama</servlet-name>
<servlet-class>controladores.ControladorCrearDiagrama</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ControladorCrearDiagrama</servlet-name>
<url-pattern>/ControladorCrearDiagrama</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ControladorVerClases</servlet-name>
<servlet-class>controladores.ControladorVerClases</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ControladorVerClases</servlet-name>
<url-pattern>/ControladorVerClases</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ControladorAgregarVersion</servlet-name>
<servlet-class>controladores.ControladorAgregarVersion</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ControladorAgregarVersion</servlet-name>
<url-pattern>/ControladorAgregarVersion</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ControladorBorrarVersion</servlet-name>
<servlet-class>controladores.ControladorBorrarVersion</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ControladorBorrarVersion</servlet-name>
<url-pattern>/ControladorBorrarVersion</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ControladorBorrarClase</servlet-name>
<servlet-class>controladores.ControladorBorrarClase</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ControladorBorrarClase</servlet-name>
<url-pattern>/ControladorBorrarClase</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>ControladorAgregarClase</servlet-name>
<servlet-class>controladores.ControladorAgregarClase</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ControladorAgregarClase</servlet-name>
<url-pattern>/ControladorAgregarClase</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ControladorVerListasDeLaClase</servlet-name>
<servlet-class>controladores.ControladorVerListasDeLaClase</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ControladorVerListasDeLaClase</servlet-name>
<url-pattern>/ControladorVerListasDeLaClase</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ControladorVerArgumentos</servlet-name>
<servlet-class>controladores.ControladorVerArgumentos</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ControladorVerArgumentos</servlet-name>
<url-pattern>/ControladorVerArgumentos</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>ControladorBorrarAtributo</servlet-name>
<servlet-class>controladores.ControladorBorrarAtributo</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ControladorBorrarAtributo</servlet-name>
<url-pattern>/ControladorBorrarAtributo</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ControladorAgregarAtributo</servlet-name>
<servlet-class>controladores.ControladorAgregarAtributo</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ControladorAgregarAtributo</servlet-name>
<url-pattern>/ControladorAgregarAtributo</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ControladorBorrarRelacion</servlet-name>
<servlet-class>controladores.ControladorBorrarRelacion</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ControladorBorrarRelacion</servlet-name>
<url-pattern>/ControladorBorrarRelacion</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>ControladorBorrarMetodo</servlet-name>
<servlet-class>controladores.ControladorBorrarMetodo</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ControladorBorrarMetodo</servlet-name>
<url-pattern>/ControladorBorrarMetodo</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>ControladorAgregarRelacion</servlet-name>
<servlet-class>controladores.ControladorAgregarRelacion</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ControladorAgregarRelacion</servlet-name>
<url-pattern>/ControladorAgregarRelacion</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>ControladorBorrarArgumento</servlet-name>
<servlet-class>controladores.ControladorBorrarArgumento</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ControladorBorrarArgumento</servlet-name>
<url-pattern>/ControladorBorrarArgumento</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>ControladorAgregarArgumento</servlet-name>
<servlet-class>controladores.ControladorAgregarArgumento</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ControladorAgregarArgumento</servlet-name>
<url-pattern>/ControladorAgregarArgumento</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ControladorAgregarMetodo</servlet-name>
<servlet-class>controladores.ControladorAgregarMetodo</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ControladorAgregarMetodo</servlet-name>
<url-pattern>/ControladorAgregarMetodo</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ControladorProcesarTexto</servlet-name>
<servlet-class>controladores.ControladorProcesarTexto</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ControladorProcesarTexto</servlet-name>
<url-pattern>/ControladorProcesarTexto</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ControladorEnviarPorMail</servlet-name>
<servlet-class>controladores.ControladorEnviarPorMail</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ControladorEnviarPorMail</servlet-name>
<url-pattern>/ControladorEnviarPorMail</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ControladorEnviarPorMailImagen</servlet-name>
<servlet-class>controladores.ControladorEnviarPorMailImagen</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ControladorEnviarPorMailImagen</servlet-name>
<url-pattern>/ControladorEnviarPorMailImagen</url-pattern>
</servlet-mapping>






</web-app>